body {
    /*text*/
    font-family: 'Helvetica Neue, Arial, sans-serif';
    line-height: 1.6;
    background-color: #5c5c5c;
    color: #999999;
    padding: 20px;
    text-align: center;
}
nav {
    /*navigation color*/
    background-color: #5c5c5c;
    color: #c2c2c2;
    padding: 10px;
    text-align: center;
}
nav a {
    /*navigation stuff*/
    color: #96d35f;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 300;
    display: inline-block;
    transition: color 0.3s;
}
p {
    /*text color*/
    color: #96d35f;
}    
a {
    /*link color*/
    color: #96d35f;
}    
footer {
    /*Footer color*/
    background-color: #5c5c5c;
    color: #b51a00;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-top: 1px solid #5c5c5c;
}
img {
    /*image border*/
    border: 4px solid #3d3c4c;
}
